
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    background-color: #b6ebfc;
    margin: 0;
}
/* Nav bar */
nav{
    width: 100%;
    background-color: #2da5b5;
}
/* make the ul flex and be more responsive */
nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: .5em;
    margin: 0;
}
/* style the a tags */
nav a{
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 1em;
    margin: 0;
    color: #000000;
}
/* create a button for the nav bar li */
.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px  #666;
    margin: 0.5em;
}
/* when the button is active */
.button.active{
    background-color: #208491;
    box-shadow: 0 5px #666;
}
/* when the button is hovered over */
.button:hover{
    background-color: #208491;
    box-shadow: 0 5px #666;
}
/* contain main content of the page */
#container{
   margin: 0;
   padding: 0; 
   
}
/* Style the H1 tags within the container */
#container h1{
    text-align: center;
    color: #000000;
}
#entrycontainer{
    padding: 1em;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    background-image: url(../img/background_1.jpg);
    color: #ffffff;
}
/* format all h2 tags within the entrycontainer */
#entrycontainer h2{
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}
/* format all a tags (links) within the entrycontainer */
#entrycontainer a{
    text-decoration: none;
    color: #ffffff
}
#entrycontainer hr{
    color: #ffffff;
    margin: .25em;
}
/* format table */
#learningOutcomes{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}
/* format table data and table headings */
#learningOutcomes td, #learningOutcomes th{
    border: .1em solid #ffffff;
    padding: .5em;
}
/* further format table headings */
#learningOutcomes th{
    padding: 2em;
    text-align: center;
    background-color:#627ac7;
    color: #ffffff;
}
input[type=text] {
  width: 90%;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#entrycontainer textarea{
  width: 99%;
  height: 5em;
}
/* styling footer */
footer{
    clear: both;
    width: 100%;
    bottom: 0;
}
/* styling ul in footer */
footer ul {
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
footer li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
footer li {
    float: right;
} 
/* when a footer link is active */
footer a.active {
    background-color: #208491;
}
footer a:hover{
    background-color: #208491;
}
/* Media Query for when the screen in less that 800px  */
@media screen and (max-width:800px){
    #containerleft{
        width: 100%;
        justify-content: center;
    }
    #containerright{
        width: 100%;
        justify-content: center;
    }
    nav ul{
        display: block;
    }
    .button{
        display: block;
        margin-bottom: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    footer li{
        clear: right;
        width: 100%;
    }
    #learningOutcomes th{
        padding: .75em;
        text-align: center;
    }
}
.messagebutton{
    display: inline-block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px  #666;
    margin: 0.5em;
}
/* when the button is active */
.messagebutton.active{
    background-color: #208491;
    box-shadow: 0 5px #666;
}
/* when the button is hovered over */
.messagebutton:hover{
    background-color: #208491;
    box-shadow: 0 5px #666;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}